altair
annotated-types
anthropic
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
distro
dnspython
duckduckgo-search
exceptiongroup
filelock
fsspec
gitdb
gitpython
groq
h11
httpcore
httpx
huggingface-hub
idna
jinja2
jiter
jsonschema
jsonschema-specifications
markdown-it-py
markupsafe
mdurl
mpmath
narwhals
networkx
numpy
ollama
openai
packaging
pandas
pillow
primp
protobuf
psutil
pyarrow
pydantic
pydantic-core
pydeck
pygments
pymongo
pyreqwest-impersonate
python-dateutil
python-dotenv
pytz
pyyaml
referencing
regex
requests
rich
rpds-py
safetensors
setuptools
six
smmap
sniffio
streamlit
sympy
tavily-python
tenacity
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typing-extensions
tzdata
urllib3
